<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" />
  <package id="FakeItEasy" version="1.7.4626.65" />
  <package id="Faker.Net" version="1.0.3" />
  <package id="ManyConsole" version="0.4.2.7" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="NDesk.Options" version="0.2.1" />
  <package id="QuickGraph" version="3.6.61119.7" />
  <package id="RazorEngine" version="3.2.0" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.59" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net40" />
</packages>