@*@using System.Linq
@using TeamCityBuildChanges.Output
@functions  {
    public ChangeManifest Model { get; set; }
}
<head></head>
<body>
    @if (Model.ChangeDetails.Any())
    {
        <table>
            @foreach (var change in Model.ChangeDetails)
            {
                <tr>
                    <td>@change.Id</td>
                    <td>@change.Comment</td>
                </tr>
            }
        </table>
    }
    </body>*@
    
